
.container
  .col-lg-4
    .row
      %h1.margin-left32
        DogDay
      .row
        = form_tag url_for(:controller => 'home', :action => 'index'), :method => 'get', :remote => true do
          .row
            %h5
              Human's Birthday
            .row
            = date_field_tag(:human_birthday, Date.today, class: "form-control")
            %h5
              Dog's Birthday
            .row
            = date_field_tag(:dog_birthday, Date.today, class: "form-control")
            %br
              .container
                .row
                  = radio_button_tag(:breed, "small_medium_breed")
                  Small to Medium Breed
                .row
                  = radio_button_tag(:breed, "large_breed")
                  Large Breed
                .row
                  = radio_button_tag(:breed, "xlarge_breed")
                  XL Breed
                .row
                  %h1   
                    = submit_tag "Do Math", class: "btn btn-large"

  .col-lg-8
    .row   
      #dogday
        %h1

