.container
  .col-lg-5.col-md-6
    .jumbotron
      .row
        %h1
          DogDay
        .row
          = form_tag url_for(:controller => 'home', :action => 'index'), :method => 'get', :remote => true do
            .container
              %h5
                Human's Birthday
              .row.input-group
              = date_field_tag(:human_birthday, Date.today, class: "form-control")
              %h5
                Dog's Birthday
              .row.input-group
              = date_field_tag(:dog_birthday, Date.today, class: "form-control")
              %br
                .container
                  .row
                    = radio_button_tag(:breed, "small_medium_breed")
                    Small to Medium Breed
                  .row
                    = radio_button_tag(:breed, "large_breed")
                    Large Breed
                  .row
                    = radio_button_tag(:breed, "xlarge_breed")
                    XL Breed
                  .row
                    %h1
                      .col-md-6   
                        = submit_tag "Do Math", class: "btn btn-large"
                      .col-md-6
                        = link_to "Reset", root_path, class: "btn btn-large"


.col-lg-5.col-md-offset-2
  .row   
    #dogday



